*{
    padding: 0;
    margin: 0;
    
}
body{
    font-family: "Poppins", sans-serif;
}
body p{
    font-size: 13px;
    font-weight: bold;
}
.head{
    background-color: #C66A9B;
    color: #0A0007;
    padding: 12px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 70%;
    margin-top: 10px;
    margin-left: 180px;
}

.outer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    gap: 130px;
}
.inner1{
    height: 250px;
    margin: 10px;
    width: 210px;
    background-color: black;
    color: white;
    border-radius: 20px;
}

.inner1__price{
    margin-top: 8px;
    text-align: center;
}
.inner1__desc{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.inner1__detail{
    padding: 20px;
    border: solid white 1px;
    padding:15px;
    padding-top: 5px;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 13px;
    height: 113px;
}

.inner2{
    height: 250px;
    margin: 10px;
    width: 210px;
    background-color: black;
    color: white;
    border-radius: 20px;
}

.inner2__price{
    margin-top: 8px;
    text-align: center;
}
.inner2__desc{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.inner2__detail{
    padding: 20px;
    border: solid white 1px;
    padding:15px;
    padding-top: 5px;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 13px;
    height: 113px;
}

.inner3{
    height: 250px;
    margin: 10px;
    width: 210px;
    background-color: black;
    color: white;
    border-radius: 20px;
}

.inner3__price{
    margin-top: 8px;
    text-align: center;
}
.inner3__desc{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.inner3__detail{
    padding: 20px;
    border: solid white 1px;
    padding:15px;
    padding-top: 5px;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 13px;
    height: 113px;
}